<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Okanumee">
    <title>Idea Palace | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <header>
        <h1> Ideas and Plans </h1>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>